body {
  background:black;
  transition:background 2s ease;
  font-family: 'Roboto', sans-serif;
}

#quote-box {
  background: white;
  width: 40%;
  margin: 200px auto;
  padding: 25px;
  border-radius: 1%;
  transition:color 2s ease;
  text-align: center;
}

button {
  border: none;
  padding: 10px;
  transition:background 2s ease;
  border-radius: 10%;
  outline: none;
  color: white;
  font-weight: bold;
  margin: 10px;
}

a {
  text-decoration: none;
  color: white;
}